<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

<div class="mainDiv">
  <div class="small-container">
        <form action="/">
            <input type="submit" value="Go back to main page" />
        </form>
    <h1>Calorie Calculator</h1>

    <p>Enter you current weight below in order to calculate how many calories are needed from the three macros.

    <a class="learnMore" href="https://my.kinobody.com/courses/66901/lectures/4931406" target="_blank">What are macros?</a>

</p>
    <form id="weightForm" action="#">
        <lable>
            Weight:
            <input type="number" id="inputWeight" placeholder="ex: 180" style="width:50px">lbs
            <button type="submit">Calculate Macros</button>
        </lable>
    </form>
  </div>
  <br>
  <div>
    
    <table>
        <tr>
            <th>Stable Calories</th>
            <th>Deficit Calories</th>
        </tr>
        <tr>
            <td id="stableCals">number</td>
            <td id="deficitCals">number</td>
        </tr>
    </table>

    

  </div>

  </div>

  <script src=app.js></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="weightCalc.js"></script>

</body>
</html>
